*.sln
*.vs
*env/
*.pyproj
*.pyproj.user

!.gitignore
### Django ###
*.log
*.pot
*.pyc
__pycache__/
migrations/
.env
db.sqlite3

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]