
{% extends "tehnicka/base.html" %}
{%block title%}
  Dodaj ucenika

{% endblock %}
 {% load static %}
        <script type="text/javascript" src="{% static 'tehnicka/anel_js.js' %}"></script>

{% block body %}
<div class="container">
  <h4 style="text-align:center">  Dodaj ucenika </h4>
  <h1>{% for ocjena in ocjene %}
        {{ocjena}}
      {% endfor %}
    </h1>

    
  <hr>
  <form action="{% url 'tehnicka:dodajucenika' %}" method='POST'>
    <div class="table-responsive" id="tbl_add_student_ime">
      {% csrf_token %}
      <table class="table table-sm table-hover table-bordered">
        <thead>
          <tr>
            <th  class="table-info" scope="col">#</th>
            <th  class="table-info" scope="col">Ime</th>
            <th  class="table-info" scope="col">Prezime</th>
            <!-- <th  class="table-info" scope="col">JMBG</th> -->
            <th  class="table-info" scope="col">Osnovna skola </th>
            <th  class="table-info" scope="col">Smjer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td> <input type="text" name="ime" value=""> </td>
            <td> <input type="text" name="prezime" value=""></td>
            <!-- <td> <input type="text" name="jmbg" value=""></td> -->
            <td>
               <select class="" name="osnovna_skola">
                {% for skola in skole %}
                  <option value="{{skola.id }}"> {{ skola.ime_skole}}</option>
                {% endfor%}
              </select>
              
            </td>
           
          </tr>
           <tr>Vjeronauka: <input type="checkbox" id="check" onclick="checkVjeronauka()" ></tr>
           <tr>
               <td>
                  <select class="" name="smjer1">
                    {% for smjer in smjerovi %}
                      <option value="{{smjer.id}}"> {{smjer.naziv_smjera}}</option>
                    {% endfor%}
                  </select>
               </td>  
                 <td>
                  <select class="" name="smjer2">
                    {% for smjer in smjerovi %}
                      <option value="{{smjer.id}}"> {{smjer.naziv_smjera}}</option>
                    {% endfor%}
                  </select>
               </td>     
                 <td>
                  <select class="" name="smjer3">
                    {% for smjer in smjerovi %}
                      <option value="{{smjer.id}}"> {{smjer.naziv_smjera}}</option>
                    {% endfor%}
                  </select>
               </td>     
           </tr>

        </tbody>
      </table>
    </div>


    <div class="table-responsive" id="div_add_student_grades">
      <table class="table table-sm table-hover table-bordered" id="tbl_add_student_grades">
          <thead>
            <tr>
              <th  class="table-info" scope="col">Predmeti</th>
              <th  class="table-info" scope="col">Razred - 6</th>
              <th  class="table-info" scope="col">Razred - 7</th>
              <th  class="table-info" scope="col">Razred - 8</th>
              <th  class="table-info" scope="col">Razred - 9</th>
            </tr>
          </thead>
          <tbody>
            {% for predmet in predmeti %}
               {% if predmet.naziv_predmeta == "Informatika" %}
                    <tr>
                          <td><input type="text"  placeholder= "Ime predmeta" name="naziv" value="{{predmet.naziv_predmeta}}"></td>
		                  <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred6" value="" ></td>
		                  <td><input type="number" min=2 max=5 placeholder="ocjena"  name="razred7" value="" ></td>
                          <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred8" value=""disabled></td>
                          <td> <input type="number" min=2 max=5 placeholder="ocjena"  name="razred9" value=""disabled></td>
		            </tr>
               
               {% elif predmet.naziv_predmeta == "Fizika" %}
                   
                     <tr>
                          <td><input type="text"  placeholder= "Ime predmeta" name="naziv" value="{{predmet.naziv_predmeta}}"></td>
		                  <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred6" value="" disabled></td>
		                  <td><input type="number" min=2 max=5 placeholder="ocjena"  name="razred7" value=""disabled ></td>
                          <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred8" value=""></td>
                          <td> <input type="number" min=2 max=5 placeholder="ocjena"  name="razred9" value=""></td>
		            </tr>
                    {% elif predmet.naziv_predmeta == "Tehnicka kultura" %}
                         
                                <tr>
                                  <td><input type="text"  placeholder= "Ime predmeta" name="naziv" value="{{predmet.naziv_predmeta}}"></td>
		                          <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred6" value=""></td>
		                          <td><input type="number" min=2 max=5 placeholder="ocjena"  name="razred7" value=""></td>
                                  <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred8" value="" disabled></td>
                                  <td> <input type="number" min=2 max=5 placeholder="ocjena"  name="razred9" value="" disabled></td>
		                          <td class="table-light"> <a href="#" id="brisi_priznanje" class="brisipredmet"> <span> Izbrisi </span><i class="fa fa-trash"></i> </a> </td>
		                       </tr>
                    {% elif predmet.naziv_predmeta == "Vjeronauka" %}
                              <div id="vjeronauka">
                                 <tr >
                                  <td><input type="text"  placeholder= "Ime predmeta" name="naziv" value="{{predmet.naziv_predmeta}}"></td>
		                          <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred6" value=""></td>
		                          <td><input type="number" min=2 max=5 placeholder="ocjena"  name="razred7" value=""></td>
                                  <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred8" value="" disabled></td>
                                  <td> <input type="number" min=2 max=5 placeholder="ocjena"  name="razred9" value="" disabled></td>
		                          <td class="table-light"> <a href="#" id="brisi_priznanje" class="brisipredmet"> <span> Izbrisi </span><i class="fa fa-trash"></i> </a> </td>
		                         </tr>
                               </div>
                    {% else %}

                         
                            
                             <tr>
                                  <td><input type="text"  placeholder= "Ime predmeta" name="naziv" value="{{predmet.naziv_predmeta}}"></td>
		                          <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred6" value=""></td>
		                          <td><input type="number" min=2 max=5 placeholder="ocjena"  name="razred7" value=""></td>
                                  <td> <input type="number" min=2 max=5 placeholder="ocjena" name="razred8" value=""></td>
                                  <td> <input type="number" min=2 max=5 placeholder="ocjena"  name="razred9" value=""></td>
		                          <td class="table-light"> <a href="#" id="brisi_priznanje" class="brisipredmet"> <span> Izbrisi </span><i class="fa fa-trash"></i> </a> </td>
		                     </tr>
                   
                    

              {% endif %}
              {% endfor %}

           
            
          </tbody>
        </table>
      </div>
      <hr>
        <a href="#" id="predmet_btn" class="btn btn-secondary btn-lg">Dodaj predmet <i class="fa fa-user-plus"></i></a>
      <hr>

      <div class="table-responsive">

        <a href="#" id="priznanja_btn" class="btn btn btn-outline-secondary">Dodaj priznanje <i class="fa fa-certificate"></i></a>

        <div class="table-responsive" id="table_div_priznanje">
          <hr>
          <table class="table table-sm table-hover table-bordered" id="table_priznanje">
            <thead>
              <tr>
                <th  class="table-primary" scope="col">Naziv</th>
                <th  class="table-primary" scope="col" colspan="1">Bodovi</th>
                <th  class="table-primary" scope="col" colspan="2">Vrsta takmicenja</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
      <hr>
    <button type="submit" class="btn btn-secondary btn-lg">POTVRDI <i class="fa fa-user-plus"></i></button>
  </form>
</div>

{% endblock %}