{% extends "tehnicka/base.html" %}
{%block title%}
  Spisak ucenika -svi
{% endblock %}
  <div class="container">
    <h4 style="text-align:center">  Spisak ucenika </h4>
    <div class="jumbotron">
      <h1> Upis ucenika u prvi razred 2019/2020</h1>
      <h3> Tehnicka skola Zenica </h3>
      <h3> 2019/2020 </h3>
    </div>
  </div>
{% block body %}
  <div class="container">
    {% for smjer in smjerovi%}
    {% if smjer.naziv_smjera == "Racunarska tehnika i automatika" %}
      <a href="{% url 'tehnicka:index' smjer.id %}"> <span> {{smjer.naziv_smjera}} </span><i class="fa fa-bolt"></i> </a>
    {% endif %}
    {% if smjer.naziv_smjera == "Elektronicar" %}
      <a href="{% url 'tehnicka:index' smjer.id %}"> <span> {{smjer.naziv_smjera}} </span><i class="fa fa-microchip"></i> </a>
    {% endif %}
    {% if smjer.naziv_smjera == "Masinski tehnicar" %}
      <a href="{% url 'tehnicka:index' smjer.id %}"> <span> {{smjer.naziv_smjera}} </span><i class="fa fa-building"></i> </a>
    {% endif %}
    {% if smjer.naziv_smjera == "Tehnicar drumskog saobracaja" %}
      <a href="{% url 'tehnicka:index' smjer.id %}"> <span> {{smjer.naziv_smjera}} </span><i class="fa fa-industry"></i> </a>
    {% endif %}
    {% if smjer.naziv_smjera == "Arhitektonski tehnicar" %}
      <a href="{% url 'tehnicka:index' smjer.id %}"> <span> {{smjer.naziv_smjera}} </span><i class="fa fa-flask"></i> </a>
    {% endif %}
    <br>
    {% endfor %}
  </div>
{% endblock %}
