<!DOCTYPE html>
<html>
    <head>
        <title>
          {% block title%}
          {% endblock %}
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <ul class="navbar-nav ml-auto">

            {% if request.user.is_authenticated %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'tehnicka:index_base' %}"> Lista ucenika</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'tehnicka:dodajucenika' %}"> Dodaj ucenika</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}"> Logout</a> </li>
            {% else %}
            <li class="nav-item"> <a class="nav-link" href="{% url 'index' %}"> Login</a> </li>
            {% endif %}
          </ul>
        </nav>

      </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
